.hero{
  background-image: url("../Images/Cinema.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.trailer{
  aspect-ratio: 16 / 9;
  width: 100%;
}
/* #carouselExampleAutoplaying{ */
/*   display: none; */
/* } */
